a{
    color: #FFF;
    text-decoration: none;
}
html{
    background-color: #AAA;
    font-family: arial, sans-serif;
    color: #EEEEEE;
    text-align: center;
}
h1{
    font-size: 5em;
    color: #FF0000;
}
h2{
    color: #111111;
    font-size: 3em;
}
h3{
    color: #222;
    font-size: 1.7em;
}
p{
    font-size: 1em;
}
li {
    list-style: square;
    font-size: 1em;
}

hr{
    border-color: #FFFFFF;
}
.image img{
    width: 25%;
}
.contact p img {
    width: 0.8em;
    filter: invert(100);
}

