a{
    color: Black;
    text-decoration: none;
}
html{
    background-color: #777;
    font-family: "open sans", sans-serif;
    text-align: left;
}
body {
    height: 100%;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.container1 {
    display: flex;
    flex: 1;
    width: 100%;
    border-radius: 10px;
    overflow: auto;
}

h1,h2,h3,.image{
    margin-top: 0.5em;
    text-align: center;
}

p,li {
    margin-top: 0.5em;
    margin-left: 1em;
}

h1{
    margin: 0.2em;
    font-size: 3em;
    color: #111;
}

h2{
    color: #222;
    font-size: 2.5em;
}

h3{
    color: #333;
    font-size: 2em;
}

p{
    font-size: 1em;
}

li {

    font-size: 1em;
}

hr{
    border-color: #000;
}

div#general{
    background-color: #EEE8AA;
    width: 35%;
    overflow: auto;
    padding: 1em;
}

div#important{
    background-color: #FEFEE2;
    width: 65%;
    overflow: auto;
    padding: 1em;
}

.image img{
    margin-top: 2em;
    border-radius: 10%;
    border: 4px solid;
    border-color: #FFF;
}

footer{
    text-align: center;
    color: #FFF;
}

 footer hr {
     display: none;
}

 .centrer {
     margin-top: 0;
     text-align: center;
 }
.contact p img{
 width: 0.8em;
}