a{
    color: black;
    text-decoration: none;
}
body{
    border-radius: 30px;

}
html{
    background-color: #222;

}
.image img{
    margin-top: 1em;
    width: 50%;
    border-radius: 50%;
    border: 3px solid;
    border-color: #FFF;
}

h1 {
    font-size: 300%;
}

.centrer{
    color: #fff
}

.moi{
    align-items: center;
    background-color: #005D82 ;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
}

.cc, .cd, .ef, .fl{
    margin-top: 0em;
    padding: 0em;
    display: flex;
    flex: 1;
    overflow: auto;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 1em;
    margin: 0 auto;
    gap: 1em;
}
.cc{
    background-color: #00cbcc  ;
}
.cd{
    background-color: #00F4F4 ;
}
.ef {
    background-color: #80FEFF;
}
.fl{
    background-color: #A1FFFF;
}
p, {
    font-size: 1.3em;
}
h3{
    font-size: 2em;
}
h2{
    font-size: 2.5em;
}

li{
    font-size: 0.8em;
}
.contact, .centre, .deplacement, .formation, .langue{
   margin: 1.5em;
    width: 50%;
    text-align: right;
    overflow: auto;
    padding: 1em;
}

.competences, .centre, .experience, .formation_C{
    margin: 1.5em;
    width: 50%;
    text-align: left;
    overflow: auto;
    padding: 1em;
}

.footer{
    text-align: center;
    color: #000;
}

hr {
    display: none;
}
.contact p img{
    width: 0.8em;
    
}
footer{
    color: #FFF;
    text-align: center;
}
.tout{
    width: 90%;
    border-radius: 30px;
    border: 3px solid #FFFFFF;
    overflow: hidden ;
    margin-left: auto;
    margin-right: auto;

}